*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;

}
.wrapper{
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

body{
  min-height: 100%;
  min-width: 100%;
  margin: 0px auto;
}

ul,
li{
  list-style: none;
  margin: 0;
  padding: 0 15px;
  color: black;
}
.play {

position: inherit;
margin-top: -15%;
padding: 0 60px;

}

video {

max-width: 100%;
min-width: 100%;


}
li{
  padding-bottom: 10px;
  padding-left: 25px;
  font-size: 15px;
  font-family: 'Monotype Corsiva', cursive.;
}
.menuNav{
  padding: 0 60px;
  min-width: 100%;
  position: fixed;
  top: 5%;
}
.menuNav_link:before {

  content: "\e90b";
  font-family: 'icomoon';
  position: absolute;
  color: black;

}
div.menuNav_link{
  font-size: 25px;
}

.oneFour{
  padding: 0 60px;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 200px;
  column-gap: 1%;
  gap: 8%;

}

.BodyWhite{

  margin-top: -128px;
}

.DressWhite{
  margin-bottom: -129px;
}

.twoTree{
   padding: 0 60px;
  min-width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: space-between;
}





.threeFour{
  padding: 0 60px;
  min-width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: center;
   column-gap: 9%;
}

.threeFour34{
  padding: 0 60px;
  min-width: 100%;
  max-width: 100%;

  display: flex;
  justify-content: center;
   column-gap: 9%;
   align-content: center;
  align-items: flex-end;

}

p{
  text-align: center;
  font-size: 12px;
 font-family: 'Monotype Corsiva', cursive.;
  font-variant: small-caps;

}

.ji img{
  padding-bottom: 39px;
}

.footer{
  background-color: black;
  min-height: 500px;
  color: white;

}
.footerLetter{
  margin: 0 auto;
  padding: 0 15px;
  text-decoration: none;
  list-style: none;


}

.SdudiosMenu{
  display: flex;
  justify-content: space-evenly;
  font-family: 'Smooch Sans', sans-serif;
  font-variant: small-caps;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 3px;

  padding-top: 250px;
}
.Menu{
  padding-left: 100px;
}
.websiteAndDade{
  padding-top: 240px;
  display: flex;
  justify-content: center;
  font-family: 'Smooch Sans', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 5px;
}

.threeFour34{
  padding-bottom: 240px;
}


/*--------------------------------1024-----------------------*/

@media screen and (max-width: 1024px) {
  .DressBlack img {
    width: 410px;
}}
@media screen and (max-width: 1024px) {
  .DressWhite img {
    width: 300px;
}}

@media screen and (max-width: 1024px) {
  .BodyWhite img {
    width: 300px;
}}
@media screen and (max-width: 1024px) {
  .BodyBlack img {
    width: 410px;
}}
@media screen and (max-width: 1024px) {
  .oneFour {
    padding: 70px 60px;
gap: 10%;
justify-content: space-between;
}}

@media screen and (max-width: 1024px) {
  .CoatGrey img {
    width: 280px;
}}

@media screen and (max-width: 1024px) {
  .Bomber img {
    width: 280px;
}}
@media screen and (max-width: 1024px) {
  .CoatBlack img {
    width: 280px;
}}
@media screen and (max-width: 1024px) {
  .Pants img {
    width: 410px;
}}
@media screen and (max-width: 1024px) {
  .Shirt img {
    width: 300px;
}}
@media screen and (max-width: 1024px) {
  .Shirt1 img {
    width: 410px;
}}
@media screen and (max-width: 1024px) {
  .ji img {
    width: 300px;
}}
@media screen and (max-width: 1024px) {
  .twoTree {
    padding-bottom: 40px;
}}
@media screen and (max-width: 1024px) {
  .threeFour {

justify-content: space-between;
}}
@media screen and (max-width: 1024px) {
  .threeFour34 {

justify-content: space-between;
}}
@media screen and (max-width: 1024px) {
  p{

font-size: 12px;
}}
@media screen and (max-width: 1024px) {
  div.menuNav_link {
  font-size: 17px;
}}
@media screen and (max-width: 1024px) {
.Menu{
  padding-left: 0px;
  }}



/*------------------------------780--------------------------*/

@media screen and (max-width: 780px) {
  .DressBlack img {
    width: 300px;
}}
@media screen and (max-width: 780px) {
  .DressWhite img {
    width: 210px;
}}

@media screen and (max-width: 780px) {
  .BodyWhite img {
    width: 210px;
}}
@media screen and (max-width: 780px) {
  .BodyBlack img {
    width: 300px;
}}
@media screen and (max-width: 780px) {
  .oneFour {
    padding: 70px 60px;
gap: 10%;
justify-content: space-between;
}}

@media screen and (max-width: 780px) {
  .CoatGrey img {
    width: 200px;
}}

@media screen and (max-width: 780px) {
  .Bomber img {
    width: 200px;
}}
@media screen and (max-width: 780px) {
  .CoatBlack img {
    width: 200px;
}}
@media screen and (max-width: 780px) {
  .Pants img {
    width: 300px;
}}
@media screen and (max-width: 780px) {
  .Shirt img {
    width: 210px;
}}
@media screen and (max-width: 780px) {
  .Shirt1 img {
    width: 300px;
}}
@media screen and (max-width: 780px) {
  .ji img {
    width: 210px;
}}
@media screen and (max-width: 780px) {
  .twoTree {
    padding-bottom: 40px;
}}
@media screen and (max-width: 780px) {
  .threeFour {

justify-content: space-between;
}}
@media screen and (max-width: 780px) {
  .threeFour34 {

justify-content: space-between;
}}
@media screen and (max-width: 780px) {
  p{

font-size: 10px;
}}
@media screen and (max-width: 780px) {
  div.menuNav_link {
  font-size: 15px;
}}

  /*----------------------------480----------------------*/

  @media screen and (max-width: 480px) {
  .DressBlack img {
    width: 150px;
}}
@media screen and (max-width: 480px) {
  .DressWhite img {
    width: 100px;

}}
@media screen and (max-width: 480px) {
  .DressWhite{

    padding-bottom: 64px;
}}

@media screen and (max-width: 480px) {
  .BodyWhite img {
    width: 100px;
}}
@media screen and (max-width: 480px) {
  .BodyWhite {
    padding-top:64px ;
}}
@media screen and (max-width: 480px) {
  .BodyBlack img {
    width: 150px;
}}
@media screen and (max-width: 480px) {
  .oneFour {
      padding: 70px 60px;
gap: 10%;
justify-content: space-between;
}}

@media screen and (max-width: 480px) {
  .CoatGrey img {
    width: 100px;
}}

@media screen and (max-width: 480px) {
  .Bomber img {
    width: 100px;
}}
@media screen and (max-width: 480px) {
  .CoatBlack img {
    width: 100px;
}}
@media screen and (max-width: 480px) {
  .Pants img {
    width: 150px;
}}
@media screen and (max-width: 480px) {
  .Shirt img {
    width: 100px;
}}
@media screen and (max-width: 480px) {
  .Shirt1 img {
    width: 150px;
}}
@media screen and (max-width: 480px) {
  .ji img {
    width: 100px;

}}
@media screen and (max-width: 480px) {
  .ji  {

    margin-bottom: -36px;
}}


@media screen and (max-width: 480px) {
  .twoTree {
    padding-bottom: 40px;
}}
@media screen and (max-width: 480px) {
  .threeFour {

justify-content: space-between;
}}
@media screen and (max-width: 480px) {
  .threeFour34 {

justify-content: space-between;
}}
@media screen and (max-width: 480px) {
  p{

font-size: 7px;
}}
@media screen and (max-width: 480px) {
  div.menuNav_link {
  font-size: 14px;
}}
@media screen and (max-width: 480px) {
  .SdudiosMenu {
  font-size: 10px;

}}

@media screen and (max-width: 480px) {
  .websiteAndDade {
  font-size: 8px;
}}

@media screen and (max-width: 480px) {
  .Studios {
  margin-top: -150px;
  font-size: 12px;
}}

@media screen and (max-width: 480px) {
  .Menu {
  margin-top: -90px;
  margin-left: -262px;
}}
@media screen and (max-width: 480px) {
  .mail {
  margin-top: -10px;

}}
@media screen and (max-width: 480px) {
.sub-menuNav_list li{
  font-size: 10px;
}}

/*---------------------------320-------------------------*/
@media screen and (max-width: 320px) {
.play {
position: inherit;
margin-top: -5%;
padding: 0 20px;
}}
 @media screen and (max-width: 320px) {
  .DressBlack img {
    width: 100px;
}}
@media screen and (max-width: 320px) {
  .DressWhite img {
    width: 82px;

}}
@media screen and (max-width: 320px) {
  .DressWhite{
    margin-bottom: -90px;
    margin-left: 50px;

}}

@media screen and (max-width: 320px) {
  .BodyWhite img {
    width: 82px;

}}
@media screen and (max-width: 320px) {
  .BodyWhite {
    margin-top: -87px;
    margin-right: 50px;
}}
@media screen and (max-width: 320px) {
  .BodyBlack img {
    width: 100px;
}}
@media screen and (max-width: 320px) {
  .oneFour {
      padding: 10px 20px;
gap: 5%;
justify-content: space-between;
}}

@media screen and (max-width: 320px) {
  .CoatGrey img {
    width: 82px;
}}

@media screen and (max-width: 320px) {
  .Bomber img {
    width: 82px;
}}
@media screen and (max-width: 320px) {
  .CoatBlack img {
    width: 82px;
}}
@media screen and (max-width: 320px) {
  .Pants img {
    width: 100px;
}}
@media screen and (max-width: 320px) {
  .Shirt img {
    width: 82px;

}}
@media screen and (max-width: 320px) {
  .Shirt {
    margin-left: 50px;
}}
@media screen and (max-width: 320px) {
  .Shirt1 img {
    width: 100px;
}}
@media screen and (max-width: 320px) {
  .ji img {
    width: 82px;
    margin-right: 50px;

}}
@media screen and (max-width: 320px) {
  .ji  {

    margin-bottom: -24px;
}}


@media screen and (max-width: 320px) {
  .twoTree {
    padding: 0 20px;
}}
@media screen and (max-width: 320px) {
  .threeFour {
padding: 0 20px;
justify-content: space-between;
}}
@media screen and (max-width: 320px) {
  .threeFour34 {
padding: 0 20px;
justify-content: space-between;
}}
@media screen and (max-width: 320px) {
  p{

font-size: 5px;
}}
@media screen and (max-width: 320px) {
  div.menuNav_link {
  font-size: 10px;
}}
@media screen and (max-width: 320px) {
  .SdudiosMenu {
  font-size: 10px;

}}

@media screen and (max-width: 320px) {
  .websiteAndDade {
  font-size: 8px;
}}

@media screen and (max-width: 320px) {
  .Studios {
  margin-top: -150px;
  font-size: 12px;
}}

@media screen and (max-width: 320px) {
  .Menu {
  margin-top: -90px;
  margin-left: -222px;
}}
@media screen and (max-width: 320px) {
  .mail {
  margin-top: -10px;

}}
@media screen and (max-width: 320px) {
.sub-menuNav_list li{
  font-size: 9px;
}}
@media screen and (max-width: 320px) {
.menuNav{
  padding: 0px;
/*-------------------------------------------------------*/